.form-container {
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("src/public/3F\ Deck\ Roofing\ View3\ -\ 1024.png");
}

.message-container {
  overflow-wrap: break-word;
  width: 100%;
}

.form-container > form {
  background-color: var(--fg-main-color);
  border-radius: var(--border-radius-container);
  padding: 20px;
  gap: 1.5rem;
}

.input-container > label {
  color: var(--dark-grey-color);
}

.input-container > input,
.form-container > form > button {
  font-size: calc(1rem + 0.2vw);
}

.input-container > input {
  border: 1px solid var(--grey-color);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-container);
}

.input-container > select {
  padding: var(--padded-sm);
}

.form-container > form > button,
.form-container > form > button {
  padding: 10px;
  border: none;
  border-radius: var(--border-radius-container);
}

.signup-form-container > form > p:first-child {
  color: green;
}

.redirect-signup-container {
  gap: 1rem;
}

.redirect-signup-container > a {
  text-decoration: none;
  color: #000000;
}

.redirect-login-container {
  gap: 1rem;
}

.redirect-login-container > a {
  text-decoration: none;
  color: #000000;
}
