.links-container {
  display: flex;
  background-color: var(--container-bg-color);
  padding: 20px 100px;
  color: var(--main-fg-color);
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.links-container > ul {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.links-container > ul > li {
  list-style-type: none;
}
