.rightpane-container {
  flex: 2;
  gap: 0.5rem;
}

.rightpane-header {
  background-color: var(--fg-main-color);
  display: flex;
  justify-content: space-between;
  padding: var(--padded-md);
  border-radius: var(--border-radius-container);
  font-weight: bolder;
}

.rightpane-container {
  border-radius: var(--border-radius-container);
}

.addNewMeeting-button-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: var(--border-radius-container);
  padding: var(--padded-sm);
  border: 1px dashed var(--bg-main-color);
}

@media screen and (orientation: portrait) {
  .addNewMeeting-button-container > p {
    display: none;
  }
}

.addNewMeeting-button-container,
.addNewMeeting-button-container img {
  transition: 0.3s ease-in;
}

.addNewMeeting-button-container:hover {
  background-color: var(--bg-main-color);
  color: var(--fg-main-color);
}

.addNewMeeting-button-container:hover img {
  filter: invert(1);
}

.addNewMeeting-button-container > .img-container {
  width: 18px;
  height: 18px;
}

.rightpane-content-container {
  background-color: var(--fg-main-color);
  padding: var(--padded-md);
  overflow: scroll;
  gap: 1rem;
}

.meeting-card-container {
  justify-content: space-between;
  border: 1px solid var(--bg-main-color);
  padding: var(--padded-md);
  border-radius: var(--border-radius-container);
}

.leftpane-card {
  gap: 0.5rem;
}

.leftpane-card > p:nth-child(2) {
  width: 20vw;
  color: var(--grey-color);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.time-tracker-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.time-tracker-container > .img-container {
  width: 16px;
  height: 16px;
}

.input-container > button {
  padding: 10px;
  border: none;
}

.input-container > button.accept-meeting {
  background-color: #71d139;
  color: var(--fg-main-color);
}

.input-container > button.decline-meeting {
  background-color: #d13939;
  color: var(--fg-main-color);
}

.rightpane-card {
  gap: 0.5rem;
  align-items: center;
  margin-bottom: auto;
}

.status-indicator-container {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: yellow;
}
