@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --fg-main-color: #f5f8f8;
  --bg-main-color: #26282e;
  --grey-color: #aaadb2;
  --dark-grey-color: #4e5053;

  --padded-sm: 10px;
  --padded-md: 20px;

  --border-radius-container: 5px;
}

main {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

a {
  text-decoration: none;
  color: var(--bg-main-color);
}

.container {
  display: flex;
}

.container.column {
  flex-direction: column;
}

.dynamic-flow {
  flex-direction: row;
}

@media screen and (orientation: portrait) {
  .dynamic-flow {
    flex-direction: column;
  }

  .dynamic-flow.two-gap {
    gap: 0.5rem;
  }
}

.border-style {
  box-shadow: 0 4px 6px 0 var(--grey-color);
}

.flex-show {
  display: flex;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.img-container {
  width: 24px;
  height: 24px;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.max-size {
  width: 100%;
  height: 100%;
}

.flex {
  flex: 1;
}

.height-max {
  height: 100%;
}

.width-max {
  width: 100%;
}

.disable-scrollbar {
  overflow: hidden;
}

.one-gap {
  gap: 0.5rem;
}

.two-gap {
  gap: 2rem;
}

.border {
  border: 1px solid #302e2e;
}

.padded-sm {
  padding: var(--padded-sm);
}

.transparent-background {
  background-color: transparent;
}

.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: rgb(39, 110, 57);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
