@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 12pt "Rubik", sans-serif;
}

:root {
  --main-bg-color: #2b2f31;
  --main-fg-color: #dae3e4;
  --border-color: #777d7e;

  --container-bg-color: #1d1e1f;

  --border-radius-sm: 5px;

  --md-height: 90vh;
}

#root {
  height: 100vh;
  background-color: var(--main-bg-color);
}

header {
  position: sticky;
  top: 0;
  left: 0;
}

main {
  color: var(--main-fg-color);
  padding: 5vh 5vw;
}

.container {
  display: flex;
}

.divider {
  border-top: 1px solid var(--border-color);
}

@media (orientation: portrait) {
  .container {
    width: 90vw;
  }
}
