.sidebar {
  flex: 1;
  gap: 2rem;
  padding: var(--padded-md);
  height: 90vh;
  font-size: calc(0.5rem + 0.5vw);
  justify-content: start;
  border-radius: var(--border-radius-container);
  position: sticky;
  top: 0;
  left: 0;
  max-width: 20vw;
}

.sidebar > button {
  all: unset;
  margin: 0 auto;
  margin-top: auto;
  border: 1px solid var(--grey-color);
  text-align: center;
  padding: var(--padded-sm);
  border-radius: var(--border-radius-container);
  width: fit-content;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.sidebar > button:hover {
  background-color: var(--bg-main-color);
  color: var(--fg-main-color);
}

.header-container {
  border-bottom: 1px solid var(--grey-color);
  padding-bottom: 10px;
  font-size: calc(0.8rem + 0.5vw);
}

.options-container {
  gap: 0.5rem;
  align-items: flex-start;
}

.options-container > *:hover {
  cursor: pointer;
}

.options-container > button {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  color: var(--bg-main-color);
  border: none;
  font-size: calc(0.5rem + 0.9vw);
  width: 100%;
  padding: 10px 5px;
  border-radius: var(--border-radius-container);
  white-space: nowrap;
}

button.highlight {
  background-color: var(--bg-main-color);
  color: var(--fg-main-color);
}

.upcoming-meetings-container,
.archived-meetings-container {
  align-items: center;
}

.img-container.return {
  animation: return90 0.3s ease-in-out both alternate;
}

.img-container.rotate {
  animation: rotate90 0.3s ease-in-out both alternate;
}

@keyframes rotate90 {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(270deg);
  }
}

@keyframes return90 {
  from {
    transform: rotate(270deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.rightpane-dropdown-container {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: var(--grey-color);
  color: var(--fg-main-color);
  border-radius: 0 0 8px 8px;
}
.rightpane-dropdown-container > ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.rightpane-dropdown-container > ul > li {
  list-style: none;
  width: 100%;
  height: 50px;
}

.rightpane-dropdown-container > ul > li > button {
  font-size: calc(1vw + 1rem);
  border: none;
  background-color: transparent;
  color: var(--fg-main-color);
  width: 100%;
  height: 100%;
}

.dropdown-container {
  flex-direction: column;
}

.dropdown-menu-container {
  align-items: center;
}

.dropdown-items-container {
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  margin-top: 10px;
  gap: 0.5rem;
}

.dropdown-items-container > li {
  list-style: none;
}

.dropdown-icon-container {
  display: none;
}

@media screen and (orientation: portrait) {
  .sidebar {
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
  }

  .header-container {
    border-bottom: none;
    padding-bottom: 0;
  }

  .dropdown-icon-container {
    display: flex;
  }

  .sidebar.container.column {
    flex-direction: row;
  }

  .sidebar > .options-container,
  .sidebar > button {
    display: none;
  }

  .dropdown-icon-container > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: transparent;
    border: none;
  }
}
